@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;449&family=Open+Sans:wght@360&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.nav .flex li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  /*tailwind => mx-5*/
}

.nav .flex-col .link {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  /*tailwind => mx-5*/
}

.nav .flex-col .link:hover {
  background-color: #f1a432;
}

.nav .flex li:hover {
    background-color: #f1a432;
    border-radius: 5px;
}